body {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

.animated {
	transition: all 300ms ease-in-out;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-items-center {
	align-items: center;
}

.gap-s {
	gap: 1rem;
}

.gap-m {
	gap: 2rem;
}
